@model Tailor_shop.ViewModel.MeasurementViewModel
@{
    Layout = "AdminLayout";
}

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Measurement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Neck" class="control-label"></label>
                <input asp-for="Neck" class="form-control" />
                <span asp-validation-for="Neck" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chest" class="control-label"></label>
                <input asp-for="Chest" class="form-control" />
                <span asp-validation-for="Chest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Waist" class="control-label"></label>
                <input asp-for="Waist" class="form-control" />
                <span asp-validation-for="Waist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hips" class="control-label"></label>
                <input asp-for="Hips" class="form-control" />
                <span asp-validation-for="Hips" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inseam" class="control-label"></label>
                <input asp-for="Inseam" class="form-control" />
                <span asp-validation-for="Inseam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
